*{
    background-color: blanchedalmond;
	border:0;
	box-sizing:border-box;
    font-family: Roboto Slab
}

.barra{
    display: inline-block;
    background-color: #ab4493;
    border-radius: 10px;
    color: #fff;
    padding: 10px 35px;
    margin: 35px;
    text-decoration: none;
}

.barra:hover{
    background-color: pink;
}

nav{
    background-color: blanchedalmond;
    flex-direction: row;
    justify-content: space-around
}

.introduccion{
    background-color: ;
    color: #0e0e0e; 
}

img{
    width: auto;
    position: relative;
    top: auto;
    left: 25%;
}

.columna{
    background-color:antiquewhite;
    color: #0e0e0e;
    padding: 10px;
    width: 25%;
}

.contenedor{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.logo{
        margin-left: auto;
        margin-right: auto;
}

   
form{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}
  
  
textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}
  
  
label{
    display: block; 
    float: center;  
}
  
  
button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #ab4493; 
    border-color: #ab4493; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
}
  
button p{
    color: #fff; 
}
  
span{
    color: #ab4493; 
}
   
h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: #ab4493;
}
  
h3{
    font-size: 26px; 
    padding-bottom: 30px;
    color: #ab4493;   
}

button{
    background-color:#ab4493;
    color: #fbfbfb;
}

button:hover{
    background-color: pink;
    color:#ab4493;
}

#gridBarra {
    display: grid;
    grid-template-areas: 
    barra
    introduccion
    contenedor
    formulario;
    grid-template-rows: 1fr 2fr 2fr 3fr;
}

.barra {

}

.introduccion {
    grid-area: introduccion;
    width: 100%;
}

.contenedor {
    grid-area: contenedor;
}

.formulario {
    grid-area:formulario;
}

@media only screen and (max-width: 480px) {
    body {
        background-color: blanchedalmond
    }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
    body {
        background-color: #fff
    }
}
@media only screen and (min-width: 1024px) {
    body {
        background-color: blanchedalmond
    }
}